<% set_base_template 'base.html.erb' %>

<p class="image_holder"><img class="big_image" src="images/team_member.jpg" title="团队成员"></img></p>
<h3>Founders</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione odit sint quae voluptas minima magnam eum esse hic repellat provident nemo culpa modi placeat repudiandae ducimus! Facilis assumenda quod quaerat!</p>

<h3>Inventors</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorum rem nam reiciendis ipsa vel porro tempora autem. Maiores doloribus debitis voluptatum perspiciatis adipisci aspernatur quod dolore minus natus saepe itaque id ipsam fugiat expedita quam iste vero necessitatibus quasi.</p>

<h3>Development Team</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quod explicabo officiis aut placeat molestiae numquam beatae voluptate illo nemo maxime saepe impedit similique amet rem. Nulla assumenda culpa architecto.</p>

<h3>Contact Us</h3>
<ul>
  <li>555-55555</li>
  <li>北京市海淀区锦秋家园7号楼1502户</li>
</ul>
