<% set_base_template 'base.html.erb' %>
<% set_partial_title '首页' %>

<span class="image_container big_image">
  <%= render_partial env, 'HeaderImage' %>
</span>
<p class="hero_list">
  <a class="btn btn-large btn-primary" href="about.html">了解更多</a>
  <a class="btn btn-large btn-success" href="join.html">现在申请，加入我们</a>
</p>
